$mainColor: #ff6600;
$font: "Lato", sans-serif;
$fontTitle: "Sofia Rough Black One", sans-serif;

/* --- GENERAL --- */
$general: custom;
    /* --- BODY --- */
    $bodyBackground: transparent;
    $bodyBorder: none;
    $bodyColor: black;
    $bodyFontFamily: $font;
    $bodyFontWeight: normal;
    $bodyPosition: relative;
    
    /* --- SECTIONS --- */
    $sectionPadding: 0;
    
    /* --- TITLES --- */
    $titleBorder: none;
    $titleColor: black;
    $titleFontFamily: $fontTitle;
    $titleFontSize: 48px;
    $titleFontWeight: normal;
    $titleLetterSpacing: 0;
    $titleMargin: 0;
    $titlePadding: 0;
    $titleTextAlign: unset;
    $titleTextTransform: uppercase;
    
    /* --- TEXT --- */
    $textSize: 18px;
    $textLetterSpacing: 0;
    $textLineHeight: normal;
    
    /* --- LINKS --- */
    $linkColor: black;
    $linkTextDecoration: none;
        $linkEffectColor: $mainColor;
        $linkEffectTextDecoration: none;
    
   /* --- GENERAL END --- */ 
    
/* --- HEADER --- */
$header: null;
    $headerBackground: transparent;
    $headerBorder: none;
    $headerHeight: auto;
    $headerMargin: 0;
    $headerMaxHeight: none;
    $headerMaxWidth: none;
    $headerMinHeight: initial;
    $headerMinWidth: initial;
    $headerPadding: 0;
    $headerPosition: initial;
    $headerTextAlign: initial;
    $headerWidth: auto;

/* --- HEADER END --- */

/* --- FOOTER --- */
$footer: custom;
    $footerBackground: #e5e6e1;
    $footerBorder: none;
    $footerHeight: auto;
    $footerMargin: 0;
    $footerMaxHeight: none;
    $footerMaxWidth: none;
    $footerMinHeight: initial;
    $footerMinWidth: initial;
    $footerPadding: 75px 15px 60px;
    $footerPosition: initial;
    $footerTextAlign: center;
    $footerWidth: auto;

/* --- FOOTER END --- */

/* --- MENU --- */
$menu: null;

    /* --- NAV --- */
    $menuNavBackground: transparent;
    $menuNavBorder: none;
    $menuNavBottom: auto;
    $menuNavDisplay: block;
    $menuNavHeight: auto;
    $menuNavLeft: auto;
    $menuNavMargin: 0;
    $menuNavMaxHeight: none;
    $menuNavMaxWidth: none;
    $menuNavMinHeight: initial;
    $menuNavMinWidth: initial;
    $menuNavPadding: 0;
    $menuNavPosition: initial;
    $menuNavRight: auto;
    $menuNavTextAlign: center;
    $menuNavTop: auto;
    $menuNavTransform: none;
    $menuNavVertAlign: initial;
    $menuNavWidth: auto;

        /* --- UL --- */
        $menuUlBackground: transparent;
        $menuUlBorder: none;
        $menuUlDisplay: block;
        $menuUlHeight: auto;
        $menuUlMargin: 0;
        $menuUlMaxHeight: none;
        $menuUlMaxWidth: none;
        $menuUlMinHeight: initial;
        $menuUlMinWidth: initial;
        $menuUlPadding: 0;
        $menuUlTextAlign: center;
        $menuUlVertAlign: initial;
        $menuUlWidth: auto;

            /* --- LI --- */
            $menuLiBackground: transparent;
            $menuLiBorder: none;
            $menuLiDisplay: inline-block;
            $menuLiHeight: auto;
            $menuLiMargin: 0 10px;
            $menuLiMaxHeight: none;
            $menuLiMaxWidth: none;
            $menuLiMinHeight: initial;
            $menuLiMinWidth: initial;
            $menuLiPadding: 0;
            $menuLiTextAlign: center;
            $menuLiVertAlign: initial;
            $menuLiWidth: auto;

                /* --- A --- */
                $menuLinkBackground: transparent;
                $menuLinkBorder: none;
                $menuLinkColor: black;
                $menuLinkDisplay: block;
                $menuLinkFontFamily: $font;
                $menuLinkFontSize: 18px;
                $menuLinkFontWeight: bold;
                $menuLinkHeight: auto;
                $menuLinkLetterSpace: 0;
                $menuLinkLineHeight: normal;
                $menuLinkMargin: 0;
                $menuLinkMaxHeight: none;
                $menuLinkMaxWidth: none;
                $menuLinkMinHeight: initial;
                $menuLinkMinWidth: initial;
                $menuLinkPadding: 0;
                $menuLinkPosition: initial;
                $menuLinkTextAlign: center;
                $menuLinkTextDecoration: none;
                $menuLinkTextTransform: uppercase;
                $menuLinkVertAlign: initial;
                $menuLinkWidth: auto;
                    $menuLinkEffectBg: transparent;
                    $menuLinkEffectBorder: none;
                    $menuLinkEffectColor: red;
                    $menuLinkEffectTextDec: none;
                    
                    /* --- A:AFTER --- */
                    $menuLinkAfterBackground: transparent;
                    $menuLinkAfterBottom: auto;
                    $menuLinkAfterContent: " ";
                    $menuLinkAfterHeight: auto;
                    $menuLinkAfterLeft: auto;
                    $menuLinkAfterMaxHeight: none;
                    $menuLinkAfterMaxWidth: none;
                    $menuLinkAfterMinHeight: initial;
                    $menuLinkAfterMinWidth: initial;
                    $menuLinkAfterPosition: initial;
                    $menuLinkAfterRight: auto;
                    $menuLinkAfterTop: auto;
                    $menuLinkAfterTransform: none;
                    $menuLinkAfterWidth: auto;
                    $menuLinkAfterZIndex: 0;
                        $menuAfterEffectBackground: transparent;
                        $menuAfterEffectBottom: auto;
                        $menuAfterEffectHeight: auto;
                        $menuAfterEffectLeft: auto;
                        $menuAfterEffectRight: auto;
                        $menuAfterEffectTop: auto;
                        $menuAfterEffectTransform: none;
                        $menuAfterEffectWidth: auto;

                    /* --- A:BEFORE --- */
                    $menuLinkBeforeBackground: transparent;
                    $menuLinkBeforeBottom: auto;
                    $menuLinkBeforeContent: none;
                    $menuLinkBeforeHeight: auto;
                    $menuLinkBeforeLeft: auto;
                    $menuLinkBeforeMaxHeight: none;
                    $menuLinkBeforeMaxWidth: none;
                    $menuLinkBeforeMinHeight: initial;
                    $menuLinkBeforeMinWidth: initial;
                    $menuLinkBeforePosition: initial;
                    $menuLinkBeforeRight: auto;
                    $menuLinkBeforeTop: auto;
                    $menuLinkBeforeTransform: none;
                    $menuLinkBeforeWidth: auto;
                    $menuLinkBeforeZIndex: 0;
                        $menuBeforeEffectBackground: transparent;
                        $menuBeforeEffectBottom: auto;
                        $menuBeforeEffectHeight: auto;
                        $menuBeforeEffectLeft: auto;
                        $menuBeforeEffectRight: auto;
                        $menuBeforeEffectTop: auto;
                        $menuBeforeEffectTransform: none;
                        $menuBeforeEffectWidth: auto;

/* --- MENU END --- */

/* --- BUTTON --- */
$button: custom;
    $btnBgColor: white;
    $btnBorder: none;
    $btnBorderRadius: 30px;
    $btnColor: black;
    $btnDisplay: inline-block;
    $btnFontFamily: $fontTitle;
    $btnFontSize: 18px;
    $btnFontWeight: normal;
    $btnHeight: 60px;
    $btnLetterSpacing: 0;
    $btnLineHeight: 60px;
    $btnMargin: 0;
    $btnPadding: 0;
    $btnTextAlign: center;
    $btnTextDecoration: none;
    $btnTextTransform: uppercase;
    $btnVerticalAlign: middle;
    $btnWidth: 210px;
        $btnEffectBg: #cecece;
        $btnEffectBorder: none;
        $btnEffectColor: black;
        $btnEffectOutline: none;
        $btnEffectTextDec: none;

/* --- BUTTON END --- */

/* --- FORM --- */
$form: custom;
    $formDisplay: block;
    $formMargin: 0;
    $formMaxHeight: none;
    $formMaxWidth: 100%;
    $formMinHeight: initial;
    $formMinWidth: initial;
    $formTextAlign: unset;
    $formWidth: 635px;
    
        /* --- INPUTS --- */
        $inputBackground: white;
        $inputBorder: solid 1px white;
        $inputColor: black;
        $inputDisplay: block;
        $inputFontFamily: $font;
        $inputFontSize: 18px;
        $inputFontWeight: normal;
        $inputHeight: 75px;
        $inputLetterSpacing: 0;
        $inputLineHeight: normal;
        $inputMargin: 0 0 35px 0;
        $inputPadding: 0 25px;
        $inputWidth: 100%;
        $placeholderColor: #7f7f7f;
        $placeholderFontWeight: normal;
            $inputEffectBg: white;
            $inputEffectBorder: solid 1px $mainColor;
            $inputEffectColor: black;
            
        /* --- TEXTAREAS --- */
        $textareaHeight: 200px;
        $textareaPadding: 25px;
        $textareaResize: none;
        
        /* --- LABELS --- */
        $labelBackground: transparent;
        $labelBorder: none;
        $labelColor: black;
        $labelDisplay: inline;
        $labelFontFamily: $font;
        $labelFontSize: 16px;
        $labelFontWeight: normal;
        $labelLetterSpacing: 0;
        $labelLineHeight: normal;
        $labelMargin: 0 0 10px 0;
        $labelPadding: 0;
        $labelTextAlign: initial;
        $labelTextDecoration: none;
        $labelVerticalAlign: initial;
        
/* --- FORM END --- */