.yellow {
    color: #ffd200;
}

.btn {
    box-shadow: none !important;
    outline: none !important;

    &.gray-btn {
        background: #cecece;

        &:hover, &:active, &:focus {
            background: $mainColor;
        }
    }
}

.bordered {
    font-size: 48px;
    margin-bottom: 80px;
    padding-bottom: 80px;
    position: relative;

    &:after {
        background: $mainColor;
        bottom: 0;
        content: " ";
        height: 15px;
        left: 0;
        position: absolute;
        width: 80px;
    }
}

/* --- MENU EFFECTS --- */
html, body {
    height: 100%;
}

body {
    padding-top: 175px;
}

.menu-effect {
    height: 100%;
    position: relative;
    /* slightly visible only when we resize this element */
    z-index: 1;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;

    &.move-out {
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
}

#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    /* we move this element off the canvas */
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    z-index: 3;
}
#main-nav ul {
    height: 100%;
}
#main-nav li {
    height: 14.25%;
}
#main-nav li a {
    position: relative;
    display: block;
    padding: 0 10%;
    height: 100%;
    border-bottom: 1px solid #b0b0b0;
    color: black;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: bold;
}
#main-nav li a span {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
        width: 100%;
    text-align: center;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#main-nav li a:hover {
    background-color: $mainColor;
    color: white;
}
#main-nav li:last-child a {
    border-bottom: none;
}
#main-nav .cd-close-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #cecece;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
}
#main-nav.is-visible {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.cd-shadow-layer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.5s, opacity 0.5s 0s;
    -moz-transition: visibility 0s 0.5s, opacity 0.5s 0s;
    transition: visibility 0s 0.5s, opacity 0.5s 0s;
}
.cd-shadow-layer.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}