#bande-realisations {
    padding: 200px 15px 330px;
    position: relative;
    
    .container-fluid {
        max-width: 1300px;
    }
    
    img {
        max-width: 65%;
        position: absolute;
        right: 0;
        top: 0;
    }

    .box {
        border-bottom: solid 33px $mainColor;
        border-right: solid 33px $mainColor;
        border-top: solid 33px $mainColor;
        height: 575px;
        left: 0;
        position: absolute;
        top: 100px;
        width: 825px;
        z-index: 1;
    }

    .text-container {
        max-width: 385px;
        position: relative;
        z-index: 2;
    }

    h2 {
        padding-bottom: 70px;
        margin-bottom: 45px;
    }

    p {
        color: #3d3d3d;
        margin-bottom: 40px;
    }

    .btn {
        height: 50px;
        font-size: 14px;
        line-height: 50px;
        width: 180px;
    }
}

footer {
    @extend %flexcolumns;

    .coord-container, .logo-container, .text-container {
        width: 100%;
    }
    
    p {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
    }
    
    .text-container {
        margin: auto;
        max-width: 475px;
    }
}

#ino-footer {
    background: #989898;
    padding: 25px 15px;
    
    p, a {
        color: white;
    }
    
    p {
        font-size: 14px;
        margin: 0;
        padding: 0 25px;
    }
    
    a {
        &:hover, &:active, &:focus {
            color: $mainColor;
        }
    }
}