#nav-bar {
    background: white;
    left: 0;
    padding: 35px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    @extend %flexcolumns;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    transition: padding 0.3s;

    .container-fluid {
        max-width: 1780px;
    }

    .btn-container, .logo-container, .lang-container {
        width: 100%;
    }

    .btn-container {
        .open-menu {
            color: #b0b0b0;
            cursor: pointer;
            display: inline-block;
            font-size: 12px;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;
            -webkit-transition: color 0.3s;
            -moz-transition: color 0.3s;
            -o-transition: color 0.3s;
            transition: color 0.3s;

            .hamb {
                height: 47px;
                margin-bottom: 20px;
                position: relative;
                width: 67px;

                span {
                    background: #b0b0b0;
                    border-radius: 3px;
                    display: block;
                    height: 6px;
                    left: 0;
                    position: absolute;
                    top: 50%;
                    transform: translate(0,-50%);
                    width: 100%;
                    -webkit-transition: background 0.3s;
                    -moz-transition: background 0.3s;
                    -o-transition: background 0.3s;
                    transition: background 0.3s;

                    &:first-child, &:last-child {
                        transform: none;
                    }

                    &:first-child {
                        top: 0;
                    }

                    &:last-child {
                        bottom: 0;
                        top: auto;
                    }
                }
            }

            &:hover, &:active, &:focus {
                color: $mainColor;

                .hamb {
                    span {
                        background: $mainColor;
                    }
                }
            }
        }
    }

    .logo-container {
        text-align: center;

        img {
            width: 260px;
            -webkit-transition: width 0.3s;
            -moz-transition: width 0.3s;
            -o-transition: width 0.3s;
            transition: width 0.3s;
        }
    }

    .lang-container {
        text-align: right;

        .flex-container {
            display: inline-block;
            text-align: center;

            a, span {
                display: block;
            }

            a {
                color: #b0b0b0;
                font-size: 18px;
                font-weight: 900;

                &:hover, &:active, &:focus {
                    color: $mainColor;
                }
            }

            span {
                background: $mainColor;
                height: 2px;
                margin: 10px auto;
                width: 5px;
            }
        }
    }

    &.shrink {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
        padding: 20px 15px;
        
        .btn-container {
            .open-menu {
                .hamb {
                    margin-bottom: 0;
                }
                
                .txt {
                    display: none;
                }
            }
        }

        .logo-container {
            img {
                width: 170px;
            }
        }
        
        .lang-container {
            .flex-container {
                a {
                    font-size: 16px;
                }
            }
        }
    }
}