#hero-accueil {
    background: url('../img/accueil/accueil-header.jpg') center center/cover no-repeat;
    padding: 280px 15px 285px;
    text-align: center;
    
    h1, h2 {
        color: white;
    }
    
    h1 {
        font-family: $font;
        font-size: 72px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: 36px;
    }
}

#bande-estimation {
    background: $mainColor;
    margin: -80px auto 0;
    max-width: 1270px;
    padding: 45px 15px;
    position: relative;
    text-align: center;
    z-index: 1;
    
    h3 {
        color: white;
        display: inline-block;
        font-family: $font;
        font-size: 36px;
        font-weight: 300;
        margin-right: 75px;
        text-transform: none;
        vertical-align: middle;
    }
}

#about-home {
    padding: 75px 15px 85px;
    position: relative;
    @extend %flexcolumns;
    
    &:after {
        border-left: solid 33px $mainColor;
        border-top: solid 33px $mainColor;
        bottom: 0;
        content: " ";
        height: 550px;
        position: absolute;
        right: 0;
        width: 575px;
        z-index: -1;
    }
    
    .container-fluid {
        max-width: 1300px;
    }
    
    .img-container {
        margin: auto;
        
        img {
            width: 505px;
        }
    }
    
    .text-container {
        max-width: 475px;
    }
    
    p {
        line-height: 24px;
        
        &.subtitle {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 50px;
        }
        
        &:last-child {
            margin: 0;
        }
    }
}

#intro-services {
    background: url('../img/accueil/accueil-service-parallax.jpg') center center/cover no-repeat;
    padding: 80px 15px 345px;
    text-align: center;
    
    h2, h3 {
        margin: auto;
    }
    
    h2 {
        color: white;
        font-size: 36px;
        max-width: 1060px;
        margin-bottom: 45px;
    }
    
    h3 {
        color: $mainColor;
        font-size: 30px;
        line-height: 36px;
        max-width: 1210px;
    }
}

#services-home {
    padding: 0 15px 100px;
    text-align: center;
    
    .container-fluid {
        max-width: 1300px;
    }
    
    h4 {
        font-size: 24px;
        margin-bottom: 20px;
        min-height: 55px;
        
        &.one-line {
            line-height: 55px;
        }
        
        a {
            color: $mainColor;
            
            &:hover, &:active, &:focus {
                color: black;
            }
        }
    }
    
    p {
        color: #3d3d3d;
        margin: 0;
        min-height: 165px;
    }
    
    .cust-btn {
        display: inline-block;
        font-family: $fontTitle;
        font-size: 14px;
        text-decoration: underline;
        text-transform: uppercase;
    }
    
    .single-serv {
        border-top: solid 10px $mainColor;
        margin-top: -230px;
        max-width: 320px;
        position: relative;
        z-index: 1;
        
        .img-container {
            display: block;
            margin-bottom: 40px;
        }
    }
    
    .flex-container {
        .single-serv {
            display: inline-block;
            text-align: center;
        }
    }
}