#projects {
    padding: 80px 15px;
    text-align: center;

    .container-fluid {
        max-width: 1695px;
    }

    .single-proj {
        margin: auto;
        max-width: 475px;
        padding: 55px 0;

        .img-container {
            display: block;
            margin-bottom: 70px;
            min-height: 330px;
        }

        h3, p {
            margin-bottom: 50px;  
        }

        h3 {
            font-size: 36px;
        }

        p {
            line-height: 24px;
        }
        
        .cust-btn {
            display: inline-block;
            font-family: $fontTitle;
            font-size: 14px;
            text-decoration: underline;
        }
    }
}

#single-proj {
    padding: 40px 15px 105px;
    
    .container-fluid {
        max-width: 1300px;
    }
    
    h2 {
        font-size: 48px;
        margin-bottom: 70px;
        padding-bottom: 70px;
        position: relative;
        text-align: center;
        
        &:after {
            background: $mainColor;
            bottom: 0;
            content: " ";
            height: 15px;
            left: 50%;
            position: absolute;
            transform: translate(-50%, 0);
            width: 80px;
        }
    }
    
    .single-step {
        padding: 65px 0 35px;
        @extend %flexcolumns;
        
        .row {
            padding: 30px 0;
        }
        
        .img-container {
            min-height: 430px;
            width: 100%;
        }
        
        .text-container {
            margin: auto;
            max-width: 475px;
        }
        
        p {
            line-height: 24px;
            margin-bottom: 25px;
            
            &:last-child {
                margin: 0;
            }
        }
    }
    
    .btn-container {
        padding-top: 40px;
        text-align: center;
        
        .btn {
            padding: 0 30px;
            width: auto;
        }
    }
}