@media (max-width: 1650px){
    #bande-realisations {
        padding: 200px 15px;

        .box {
            width: 625px;
        }
    }

    #renovations {
        .img-container {
            .box{
                height: 470px;
            }
        }
    }

    #contact {
        .box {
            width: 590px;
        }
    }
}

//---------------------

@media (max-width: 1450px){
    #bande-estimation {
        margin-top: 0;
    }

    #about-home {
        &:after {
            height: 500px;
            width: 400px;
        }
    }

    #bande-realisations {
        .box {
            width: 510px;
        }
    }

    #subpage-intro {
        .text-container {
            padding: 75px 30px;

            h1 {
                font-size: 40px;
                margin-bottom: 35px;
            }
        }
    }

    #renovations {
        .bordered {
            font-size: 40px;
        }

        .img-container {
            .box {
                height: 375px;
            }
        }

        .text-container {
            padding-top: 0;
        }

        .single-reno {
            padding: 100px 0 100px 15px;

            &.reverse {
                padding: 100px 15px 100px 0;
            }
        }
    }
}

//---------------------

@media (max-width: 1200px){
    #hero-accueil {
        padding: 250px 15px;

        h1 {
            font-size: 55px;
        }
    }

    #bande-realisations {
        padding: 135px 15px;

        img {
            max-width: 60%;
            top: 50%;
            transform: translate(0, -50%);
        }

        .box {
            top: 50px;
            width: 485px;
        }
    }

    #subpage-intro {
        .text-container {
            padding: 50px 30px;

            h1 {
                font-size: 30px;
            }
        }
    }

    #renovations {
        .bordered {
            font-size: 36px;
            margin-bottom: 50px;
            padding-bottom: 50px;
        }

        .img-container {
            .box {
                height: 300px;
            }
        }
    }

    #transformation {
        .title {
            font-size: 28px;
            line-height: 36px;
        }

        .single-trans {
            h3 {
                font-size: 26px;
                margin-bottom: 35px;
            }
        }
    }

    #contact {
        padding: 160px 15px 90px 50px;

        .text-container {
            .coord {
                img {
                    left: -50px;
                }
            }
        }

        .box {
            width: 510px;
        }
    }

    .map {
        height: 600px;
        margin-bottom: 100px;
    }

    #single-proj {
        .single-step {
            .img-container {
                min-height: 375px;
            }
        }
    }
}

//---------------------

@media (max-width: 1024px){
}

//---------------------

@media (max-width: 992px){
    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-sm-o-1 {
        order: 1;
    }

    .col-sm-o-2 {
        order: 2;
    }

    .col-sm-o-3 {
        order: 3;
    }

    body {
        padding-top: 157px;
    }

    .bordered {
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    #nav-bar {
        .logo-container {
            img {
                width: 215px;
            }
        }
    }

    #hero-accueil {
        padding: 175px 15px;

        h1 {
            font-size: 40px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 30px;
        }
    }

    #bande-estimation {
        h3 {
            font-size: 28px;
            margin-right: 35px;
        }
    }

    #about-home {
        padding: 75px 15px;

        h2 {
            &:after {
                left: 50%;
                transform: translate(-50%, 0);
            }
        }

        .text-container {
            margin: auto;
            margin-bottom: 50px;
            text-align: center;
        }
    }

    #intro-services {
        padding: 75px 15px;

        h2 {
            margin-bottom: 35px;
        }

        h2, h3 {
            font-size: 24px;
        }
    }

    #services-home {
        padding: 75px 15px 25px;

        .single-serv {
            margin: auto;
            margin-bottom: 50px;
        }

        .flex-container {
            text-align: center !important;
        }
    }

    #bande-realisations {
        padding: 0 15px 75px;

        .box, img {
            display: none;
        }

        h2 {
            margin-bottom: 50px;
            padding-bottom: 50px;

            &:after {
                left: 50%;
                transform: translate(-50%, 0);
            }
        }

        .text-container {
            border: solid 33px $mainColor;
            margin: auto;
            max-width: 550px;
            padding: 50px;
            text-align: center;
        }
    }

    footer {
        padding: 50px 15px;

        .logo-container {
            margin-bottom: 35px;
        }
    }

    #subpage-intro {
        .img-container {
            min-height: 300px;
        }

        .text-container {
            text-align: center;
        }
    }

    #renovations {
        .bordered {
            &:after {
                left: 50%;
                transform: translate(-50%, 0);
            }
        }

        .single-reno {
            padding: 75px 30px !important;
        }

        .text-container, .img-container {
            text-align: center;
        }

        .img-container {
            margin-bottom: 50px;
            padding: 0 !important;

            .box {
                display: none;
            }
        }

        ul {
            display: inline-block;
            text-align: left;
        }
    }

    #transformation {
        padding: 75px 15px 0;

        .title {
            margin-bottom: 15px;
        }

        .single-trans {
            padding: 35px 0;
        }
    }

    #contact {
        padding: 75px 15px;

        .bordered {
            &:after {
                left: 50%;
                transform: translate(-50%, 0);
            }
        }

        .box {
            display: none;
        }

        .text-container {
            margin-bottom: 50px;
            text-align: center;

            .coord {
                img {
                    margin-right: 15px;
                    position: initial;
                }

                img, .text-block {
                    display: inline-block;
                    vertical-align: middle;
                }

                .text-block {
                    text-align: left;
                }
            }
        }

        form {
            margin: auto;
        }
    }

    .map {
        height: 400px;
        margin-bottom: 75px;
    }

    #realisations {
        .bordered {
            font-size: 36px;
            padding-bottom: 50px;
            margin-bottom: 25px;
        }
    }

    #single-proj {
        h2 {
            font-size: 36px;
            margin-bottom: 50px;
            padding-bottom: 50px;
        }

        .single-step {
            padding: 50px 0 35px;

            .img-container {
                margin-bottom: 50px;
                min-height: 430px;
            }
        }

        .btn-container {
            padding-top: 0;
        }
    }
}

//---------------------

@media (max-width: 767px){
    .col-xs-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xs-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xs-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xs-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    body {
        padding: 0;
    }

    .bordered {
        font-size: 36px;
        margin-bottom: 35px;
        padding-bottom: 35px;
    }

    #nav-bar {
        padding: 25px 15px;
        position: initial;

        .btn-container {
            .open-menu {
                .hamb {
                    height: 40px;
                    margin-bottom: 10px;
                    width: 60px;
                }
            }
        }

        .logo-container {
            img {
                width: 175px;
            }
        }
    }

    #hero-accueil {
        padding: 100px 15px;
    }

    #bande-estimation {
        h3 {
            display: block;
            font-size: 24px;
            margin: auto;
            margin-bottom: 20px;
        }
    }

    #about-home {
        padding: 50px 15px;

        &:after {
            display: none;
        }

        p.subtitle {
            font-size: 20px;
            margin-bottom: 35px;
        }
    }

    #intro-services {
        padding: 50px 15px;
    }

    #services-home {
        padding-bottom: 0;
    }

    #bande-realisations {
        padding: 0 15px 50px;

        h2 {
            margin-bottom: 35px;
            padding-bottom: 35px;
        }

        .text-container {
            padding: 35px;
        }
    }

    footer {
        .text-container {
            display: none;
        }
    }

    #ino-footer {
        padding: 25px 15px 15px;

        p {
            text-align: center !important;
            margin-bottom: 10px;
        }
    }

    #subpage-intro {
        .img-container {
            min-height: 250px;
        }
    }

    #renovations {
        .bordered {
            margin-bottom: 35px;
            padding-bottom: 35px;
        }

        .single-reno {
            padding: 50px 30px !important;
        }

        .img-container {
            margin-bottom: 35px;
        }
    }

    #transformation {
        padding: 50px 15px 0;

        .title {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 25px;
        }

        .single-trans {
            padding: 25px 0;
        }
    }

    #contact {
        padding: 50px 15px;

        .text-container {
            p, .coord {
                margin-bottom: 35px;
            }
        }

        form {
            .text-right {
                padding-top: 35px;
                text-align: left !important;
            }
        }
    }

    .map {
        height: 350px;
        margin-bottom: 50px;
    }

    #realisations {
        padding: 0;
    }

    #single-proj {
        h2 {
            font-size: 30px;
            margin-bottom: 35px;
            padding-bottom: 35px;
        }

        .single-step {
            padding: 35px 0 15px;

            .img-container {
                margin-bottom: 35px;
                min-height: 300px;
            }
        }
    }
}

//---------------------

@media (max-width: 480px){
    #nav-bar {
        padding: 20px 0;

        .btn-container {
            .open-menu {
                .hamb {
                    height: 35px;
                    width: 50px;
                }
            }
        }

        .lang-container {
            text-align: center;
        }
    }

    #hero-accueil {
        padding: 50px 0;

        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 24px;
        }
    }

    #bande-estimation {
        padding: 35px 0;

        h3 {
            display: block;
            font-size: 24px;
            margin: auto;
            margin-bottom: 20px;
        }
    }

    #about-home {
        padding: 50px 0;

        p {
            font-size: 16px;

            &.subtitle {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }

    #intro-services {
        padding: 35px 0;

        h2, h3 {
            font-size: 20px;
            line-height: normal;
        }

        h2 {
            margin-bottom: 20px;
        }
    }

    #services-home {
        padding:50px 0 0;
    }

    #bande-realisations {
        padding: 0 0 50px;

        h2 {
            font-size: 28px;
        }

        .text-container {
            border: solid 15px $mainColor;
            padding: 30px 15px;
        }
    }

    footer {
        .text-container {
            display: none;
        }
    }

    #ino-footer {
        padding: 25px 0 15px;

        p {
            text-align: center !important;
            margin-bottom: 10px;
        }
    }

    #subpage-intro {
        .img-container {
            min-height: 200px;
        }

        .text-container {
            padding: 35px 15px;

            h1 {
                font-size: 28px;
                margin-bottom: 25px;
            }
        }
    }

    #renovations {
        .single-reno {
            padding: 50px 15px !important;
        }

        .bordered {
            font-size: 24px;
        }

        p, ul li {
            font-size: 16px;
        }

        .text-container {
            padding: 0;
        }
    }

    #transformation {
        padding: 50px 0 0;

        .title {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 25px;
        }

        .single-trans {
            padding: 25px 0;
        }
    }

    #contact {
        padding: 50px 0;
    }

    .map {
        height: 300px;
    }

    #realisations {
        .bordered {
            font-size: 24px;
            padding-bottom: 35px;
        }
    }

    #single-proj {
        padding: 35px 0 50px;

        h2 {
            font-size: 24px;
        }

        .single-step {
            .img-container {
                min-height: 225px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}