#subpage-intro {
    @extend %flexcolumns;

    .container-fluid {
        padding: 0;
    }

    .row {
        align-items: stretch;
        margin: 0;

        [class^="col-"]{
            padding: 0;
        }
    }

    .img-container, .text-container {
        height: 100%;
        width: 100%;
    }

    .text-container {
        background: $mainColor;
        padding: 100px 30px;;

        h1, p {
            color: white;
        }

        .text-block {
            margin: auto;
            max-width: 460px;
        }
    }

    h1 {
        font-family: $font;
        font-weight: 300;
        margin-bottom: 60px;
    }

    p {
        margin-bottom: 20px;

        &:last-child {
            margin: 0;
        }
    }
}

.reno-content {
    #subpage-intro {
        .img-container {
            background: url('../img/renovations/header-renovation.jpg') center center/cover no-repeat;
        }
    }
}

.agr-content {
    #subpage-intro {
        .img-container {
            background: url('../img/agrandissement/header-agrandissement.jpg') center center/cover no-repeat;
        }
    }
}

.trans-content {
    #subpage-intro {
        .img-container {
            background: url('../img/transformation/header-transformation.jpg') center center/cover no-repeat;
        }
    }
}

.contact-content {
    #subpage-intro {
        .img-container {
            background: url('../img/contact/header-contact.jpg') center center/cover no-repeat;
        }
    }
}

.real-content {
    #subpage-intro {
        .img-container {
            background: url('../img/realisations/header-realisations.jpg') center center/cover no-repeat;
        }
    }
}

#renovations {
    overflow-x: hidden;

    .container-fluid {
        padding: 0;
    }

    .row {
        align-items: stretch;
        margin: 0;

        [class^="col-"]{
            padding: 0;
        }
    }

    .single-reno {
        padding: 120px 0 150px 15px;

        &.reverse {
            background: #ebebeb;
            padding: 120px 15px 150px 0;

            .img-container {
                padding-left: 0;
                padding-right: 65px;
                text-align: left;

                .box {
                    border-color: white;
                    border-left: none;
                    border-right: solid 32px white;
                    left: 0;
                    right: auto;
                }
            }
        }


    }

    .text-container {
        margin: auto;
        max-width: 665px;
        padding: 65px 15px 0;

        &.small {
            max-width: 475px;
        }
    }

    .img-container {
        padding-left: 65px;
        position: relative;
        text-align: right;

        img {
            position: relative;
            z-index: 1;
        }

        .box {
            border-bottom: solid 32px #e6e6e6;
            border-left: solid 32px #e6e6e6;
            border-top: solid 32px #e6e6e6;
            height: 580px;
            max-width: 100%;
            position: absolute;
            right: 0;
            top: 85px;
            width: 880px;
        }
    }

    p {
        line-height: 24px;
        margin-bottom: 25px;

        &:last-child {
            margin: 0;
        }
    }

    ul {
        margin: 0;

        li {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 20px;
            padding-left: 45px;
            position: relative;

            &:last-child {
                margin: 0;
            }

            &:after {
                background: url('../img/agrandissement/icon-check.png') center center/cover no-repeat;
                content: " ";
                height: 30px;
                left: 0;
                position: absolute;
                top: 0;
                width: 30px;
            }
        }
    }
}

#transformation {
    padding: 135px 15px 20px;
    text-align: center;
    @extend %flexcolumns;

    .row {
        align-items: stretch;
    }

    .container-fluid {
        max-width: 1615px;
    }

    .title {
        color: $mainColor;
        font-size: 36px;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 48px;;
        margin: auto;
        margin-bottom: 80px;
        max-width: 1130px;
        text-transform: uppercase;
    }

    .single-trans {
        margin: 0 auto;
        max-width: 400px;
        padding: 50px 0;

        .icon-container {
            height: 90px;
            margin: auto;
            margin-bottom: 25px;
            position: relative;
            width: 80px;

            img {
                max-height: 100%;
                max-width: 100%;
                @extend %abscenter;
            }
        }

        h3 {
            font-size: 36px;
            margin-bottom: 50px;
        }

        p {
            line-height: 24px;
            margin: 0;
        }
    }
}

#contact {
    background: #ededed;
    padding: 160px 15px 90px 80px;
    position: relative;

    .box {
        border-bottom: solid 33px white;
        border-right: solid 33px white;
        border-top: solid 33px white;
        height: 675px;
        left: 0;
        position: absolute;
        top: 75px;
        width: 715px;
        z-index: 1;
    }

    .container-fluid {
        max-width: 1615px;
    }

    .text-container {
        position: relative;
        z-index: 2;

        h2 {
            margin-bottom: 50px;
        }

        p {
            font-size: 24px;
            margin-bottom: 60px;
        }

        .coord {
            margin-bottom: 45px;
            position: relative;

            &:last-child {
                margin: 0;
            }

            p {
                font-size: 18px;
                margin:0;
            }

            img {
                left: -65px;
                position: absolute;
                top: 0;
            }
        }
    }

    .btn {
        background: $mainColor;
        color: white;

        &:hover, &:active, &:focus {
            background: #cecece;
            color: black;
        }
    }
}

.map {
    height: 735px;
    margin-bottom: 185px;
}

#realisations {
    padding: 50px 0 0;
    text-align: center;

    .container-fluid {
        max-width: 1300px;
    }

    .bordered {
        margin-bottom: 45px;
        padding-bottom: 75px;

        &:after {
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    .single-cat {
        padding: 50px 25px 25px;

                .row {
            margin: 0 -15px;

            [class^="col-"]{
                padding: 15px;
            }
        }
    }

    .single-img {
        display: block;
        overflow: hidden;
        position: relative;
        width: 100%;

        img {
            width: 100%;
            -webkit-transition: transform 0.3s;
            -moz-transition: transform 0.3s;
            -o-transition: transform 0.3s;
            transition: transform 0.3s;
        }

        &:after, p {
            opacity: 0;
            width: 100%;
            -webkit-transition: opacity 0.3s;
            -moz-transition: opacity 0.3s;
            -o-transition: opacity 0.3s;
            transition: opacity 0.3s;
        }

        &:after {
            background: $mainColor;
            content: " ";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;

        }

        p {
            color: white;
            font-size: 24px;
            font-weight: 300;
            margin: 0;
            text-align: center;
            text-transform: uppercase;
            z-index: 1;
            @extend %abscenter;
        }

        &:hover {
            p {
                opacity: 1;
            }

            &:after {
                opacity: 0.5;
            }

            img {
                transform: scale(1.1);
            }
        }
    }
}