@if $button == null {
    $btnBgColor: transparent;
    $btnBorder: solid 2px black;
    $btnBorderRadius: 0;
    $btnColor: black;
    $btnDisplay: inline-block;
    $btnFontFamily: $font;
    $btnFontSize: 18px;
    $btnFontWeight: bold;
    $btnHeight: 60px;
    $btnLetterSpacing: 0;
    $btnLineHeight: 60px;
    $btnMargin: 0;
    $btnPadding: 0;
    $btnTextAlign: center;
    $btnTextDecoration: none;
    $btnTextTransform: uppercase;
    $btnVerticalAlign: initial;
    $btnWidth: 200px;
        $btnEffectBg: black;
        $btnEffectBorder: solid 2px black;
        $btnEffectColor: white;
        $btnEffectOutline: none;
        $btnEffectTextDec: none;
}

.btn {
    background: $btnBgColor;
    border: $btnBorder;
    border-radius: $btnBorderRadius;
    color: $btnColor;
    display: $btnDisplay;
    font-family: $btnFontFamily;
    font-size: $btnFontSize;
    font-weight: $btnFontWeight;
    height: $btnHeight;
    letter-spacing: $btnLetterSpacing;
    line-height: $btnLineHeight;
    margin: $btnMargin;
    padding: $btnPadding;
    text-align: $btnTextAlign;
    text-decoration: $btnTextDecoration;
    text-transform: $btnTextTransform;
    vertical-align: $btnVerticalAlign;
    width: $btnWidth;

    &:hover, &:active, &:focus {
        background: $btnEffectBg;
        border: $btnEffectBorder;
        color: $btnEffectColor;
        outline: $btnEffectOutline;
        text-decoration: $btnEffectTextDec;
    }
}