@if $footer == null {
    $footerBackground: transparent;
    $footerBorder: none;
    $footerHeight: auto;
    $footerMargin: 0;
    $footerMaxHeight: none;
    $footerMaxWidth: none;
    $footerMinHeight: initial;
    $footerMinWidth: initial;
    $footerPadding: 0;
    $footerPosition: initial;
    $footerTextAlign: initial;
    $footerWidth: auto;
}

footer {
    background: $footerBackground;
    border: $footerBorder;
    height: $footerHeight;
    margin: $footerMargin;
    max-height: $footerMaxHeight;
    max-width: $footerMaxWidth;
    min-height: $footerMinHeight;
    min-width: $footerMinWidth;
    padding: $footerPadding;
    position: $footerPosition;
    text-align: $footerTextAlign;
    width: $footerWidth;
}