@if $form == null {
    $formDisplay: block;
    $formMargin: 0;
    $formMaxHeight: none;
    $formMaxWidth: none;
    $formMinHeight: initial;
    $formMinWidth: initial;
    $formTextAlign: unset;
    $formWidth: auto;
    $inputBackground: transparent;
    $inputBorder: solid 1px black;
    $inputColor: black;
    $inputDisplay: block;
    $inputFontFamily: $font;
    $inputFontSize: 16px;
    $inputFontWeight: normal;
    $inputHeight: 50px;
    $inputLetterSpacing: 0;
    $inputLineHeight: normal;
    $inputMargin: 0 0 20px 0;
    $inputPadding: 0 10px;
    $inputWidth: 100%;
    $placeholderColor: black;
    $placeholderFontWeight: normal;
    $inputEffectBg: transparent;
    $inputEffectBorder: solid 1px black;
    $inputEffectColor: black;
    $textareaHeight: 150px;
    $textareaPadding: 15px 10px;
    $textareaResize: none;
    $labelBackground: transparent;
    $labelBorder: none;
    $labelColor: black;
    $labelDisplay: inline;
    $labelFontFamily: $font;
    $labelFontSize: 16px;
    $labelFontWeight: normal;
    $labelLetterSpacing: 0;
    $labelLineHeight: normal;
    $labelMargin: 0 0 10px 0;
    $labelPadding: 0;
    $labelTextAlign: initial;
    $labelTextDecoration: none;
    $labelVerticalAlign: initial;
}

form {
    display: $formDisplay;
    margin: $formMargin;
    max-height: $formMaxHeight;
    max-width: $formMaxWidth;
    min-height: $formMinHeight;
    min-width: $formMinWidth;
    text-align: $formTextAlign;
    width: $formWidth;

    input, textarea, select {
        background: $inputBackground;
        border: $inputBorder;
        color: $inputColor;
        display: $inputDisplay;
        font-family: $inputFontFamily;
        font-size: $inputFontSize;
        font-weight: $inputFontWeight;
        height: $inputHeight;
        letter-spacing: $inputLetterSpacing;
        line-height: $inputLineHeight;
        margin: $inputMargin;
        padding: $inputPadding;
        width: $inputWidth;
        -webkit-transition: border-color 0.3s;
        -moz-transition: border-color 0.3s;
        -o-transition: border-color 0.3s;
        transition: border-color 0.3s;

        @include placeholder {
            color: $placeholderColor;
            font-weight: $placeholderFontWeight;
        }

        &:focus {
            background: $inputEffectBg;
            border: $inputEffectBorder;
            color: $inputEffectColor;
            outline: none;
        }
    }

    textarea {
        height: $textareaHeight;
        padding: $textareaPadding;
        resize: $textareaResize;
    }

    label {
        background: $labelBackground;
        border: $labelBorder;
        color: $labelColor;
        display: $labelDisplay;
        font-family: $labelFontFamily;
        font-size: $labelFontSize;
        font-weight: $labelFontWeight;
        letter-spacing: $labelLetterSpacing;
        line-height: $labelLineHeight;
        margin: $labelMargin;
        padding: $labelPadding;
        text-align: $labelTextAlign;
        text-decoration: $labelTextDecoration;
        vertical-align: $labelVerticalAlign;
    }
}