@if $general == null {
    $bodyBackground: transparent;
    $bodyBorder: none;
    $bodyColor: black;
    $bodyFontFamily: $font;
    $bodyFontWeight: normal;
    $bodyPosition: initial;
    $sectionPadding: 0;
    $titleBorder: none;
    $titleColor: black;
    $titleFontFamily: $font;
    $titleFontSize: 48px;
    $titleFontWeight: normal;
    $titleLetterSpacing: 0;
    $titleMargin: 0;
    $titlePadding: 0;
    $titleTextAlign: unset;
    $titleTextTransform: uppercase;
    $textSize: 18px;
    $textLetterSpacing: 0;
    $textLineHeight: normal;
    $linkColor: black;
    $linkTextDecoration: none;
    $linkEffectColor: black;
    $linkEffectTextDecoration: none;
}

* {
    outline: none;
}

body {
    background: $bodyBackground;
    border: $bodyBorder;
    color: $bodyColor;
    font-family: $bodyFontFamily;
    font-weight: $bodyFontWeight;
    position: $bodyPosition;
}

section {
    padding: $sectionPadding;
}

@for $i from 1 through 6 {
    h#{$i} {
        border: $titleBorder;
        color: $titleColor;
        font-family: $titleFontFamily;
        font-size: $titleFontSize / $i;;
        font-weight: $titleFontWeight;
        letter-spacing: $titleLetterSpacing;
        margin: $titleMargin;
        padding: $titlePadding;
        text-align: $titleTextAlign;
        text-transform: $titleTextTransform;
    }
}

p {
    font-size: $textSize;
    letter-spacing: $textLetterSpacing;
    line-height: $textLineHeight;
}

a {
    color: $linkColor;
    text-decoration: $linkTextDecoration;
    -webkit-transition: color 0.3s, background 0.3s;
    -moz-transition: color 0.3s, background 0.3s;
    -o-transition: color 0.3s, background 0.3s;
    transition: color 0.3s, background 0.3s;

    &:hover, &:active, &:focus {
        color: $linkEffectColor;
        text-decoration: $linkEffectTextDecoration;
    }
}

img {
    max-height: 100%;
    max-width: 100%;
}