@if $header == null {
    $headerBackground: transparent;
    $headerBorder: none;
    $headerHeight: auto;
    $headerMargin: 0;
    $headerMaxHeight: none;
    $headerMaxWidth: none;
    $headerMinHeight: initial;
    $headerMinWidth: initial;
    $headerPadding: 0;
    $headerPosition: initial;
    $headerTextAlign: initial;
    $headerWidth: auto;
}

header {
    background: $headerBackground;
    border: $headerBorder;
    height: $headerHeight;
    margin: $headerMargin;
    max-height: $headerMaxHeight;
    max-width: $headerMaxWidth;
    min-height: $headerMinHeight;
    min-width: $headerMinWidth;
    padding: $headerPadding;
    position: $headerPosition;
    text-align: $headerTextAlign;
    width: $headerWidth;
}