@if $menu == null {
    $menuNavBackground: transparent;
    $menuNavBorder: none;
    $menuNavBottom: auto;
    $menuNavDisplay: block;
    $menuNavHeight: auto;
    $menuNavLeft: auto;
    $menuNavMargin: 0;
    $menuNavMaxHeight: none;
    $menuNavMaxWidth: none;
    $menuNavMinHeight: initial;
    $menuNavMinWidth: initial;
    $menuNavPadding: 0;
    $menuNavPosition: initial;
    $menuNavRight: auto;
    $menuNavTextAlign: center;
    $menuNavTop: auto;
    $menuNavTransform: none;
    $menuNavVertAlign: initial;
    $menuNavWidth: auto;

    $menuUlBackground: transparent;
    $menuUlBorder: none;
    $menuUlDisplay: block;
    $menuUlHeight: auto;
    $menuUlMargin: 0;
    $menuUlMaxHeight: none;
    $menuUlMaxWidth: none;
    $menuUlMinHeight: initial;
    $menuUlMinWidth: initial;
    $menuUlPadding: 0;
    $menuUlTextAlign: center;
    $menuUlVertAlign: initial;
    $menuUlWidth: auto;

    $menuLiBackground: transparent;
    $menuLiBorder: none;
    $menuLiDisplay: inline-block;
    $menuLiHeight: auto;
    $menuLiMargin: 0 10px;
    $menuLiMaxHeight: none;
    $menuLiMaxWidth: none;
    $menuLiMinHeight: initial;
    $menuLiMinWidth: initial;
    $menuLiPadding: 0;
    $menuLiTextAlign: center;
    $menuLiVertAlign: initial;
    $menuLiWidth: auto;

    $menuLinkBackground: transparent;
    $menuLinkBorder: none;
    $menuLinkColor: black;
    $menuLinkDisplay: block;
    $menuLinkFontFamily: $font;
    $menuLinkFontSize: 18px;
    $menuLinkFontWeight: bold;
    $menuLinkHeight: auto;
    $menuLinkLetterSpace: 0;
    $menuLinkLineHeight: normal;
    $menuLinkMargin: 0;
    $menuLinkMaxHeight: none;
    $menuLinkMaxWidth: none;
    $menuLinkMinHeight: initial;
    $menuLinkMinWidth: initial;
    $menuLinkPadding: 0;
    $menuLinkPosition: initial;
    $menuLinkTextAlign: center;
    $menuLinkTextDecoration: none;
    $menuLinkTextTransform: uppercase;
    $menuLinkVertAlign: initial;
    $menuLinkWidth: auto;
        $menuLinkEffectBg: transparent;
        $menuLinkEffectBorder: none;
        $menuLinkEffectColor: red;
        $menuLinkEffectTextDec: none;
            $menuLinkAfterBackground: transparent;
            $menuLinkAfterBottom: auto;
            $menuLinkAfterContent: none;
            $menuLinkAfterHeight: auto;
            $menuLinkAfterLeft: auto;
            $menuLinkAfterMaxHeight: none;
            $menuLinkAfterMaxWidth: none;
            $menuLinkAfterMinHeight: initial;
            $menuLinkAfterMinWidth: initial;
            $menuLinkAfterPosition: initial;
            $menuLinkAfterRight: auto;
            $menuLinkAfterTop: auto;
            $menuLinkAfterTransform: none;
            $menuLinkAfterWidth: auto;
            $menuLinkAfterZIndex: 0;
            $menuLinkBeforeBackground: transparent;
            $menuLinkBeforeBottom: auto;
            $menuLinkBeforeContent: none;
            $menuLinkBeforeHeight: auto;
            $menuLinkBeforeLeft: auto;
            $menuLinkBeforeMaxHeight: none;
            $menuLinkBeforeMaxWidth: none;
            $menuLinkBeforeMinHeight: initial;
            $menuLinkBeforeMinWidth: initial;
            $menuLinkBeforePosition: initial;
            $menuLinkBeforeRight: auto;
            $menuLinkBeforeTop: auto;
            $menuLinkBeforeTransform: none;
            $menuLinkBeforeWidth: auto;
            $menuLinkBeforeZIndex: 0;
                $menuAfterEffectBackground: transparent;
                $menuAfterEffectBottom: auto;
                $menuAfterEffectHeight: auto;
                $menuAfterEffectLeft: auto;
                $menuAfterEffectRight: auto;
                $menuAfterEffectTop: auto;
                $menuAfterEffectTransform: none;
                $menuAfterEffectWidth: auto;
                $menuBeforeEffectBackground: transparent;
                $menuBeforeEffectBottom: auto;
                $menuBeforeEffectHeight: auto;
                $menuBeforeEffectLeft: auto;
                $menuBeforeEffectRight: auto;
                $menuBeforeEffectTop: auto;
                $menuBeforeEffectTransform: none;
                $menuBeforeEffectWidth: auto;
}

nav {
    background: $menuNavBackground;
    border: $menuNavBorder;
    bottom: $menuNavBottom;
    display: $menuNavDisplay;
    height: $menuNavHeight;
    left: $menuNavLeft;
    margin: $menuNavMargin;
    max-height: $menuNavMaxHeight;
    max-width: $menuNavMaxWidth;
    min-height: $menuNavMinHeight;
    min-width: $menuNavMinWidth;
    padding: $menuNavPadding;
    position: $menuNavPosition;
    right: $menuNavRight;
    text-align: $menuNavTextAlign;
    top: $menuNavTop;
    transform: $menuNavTransform;
    vertical-align: $menuNavVertAlign;
    width: $menuNavWidth;

    ul {
        background: $menuUlBackground;
        border: $menuUlBorder;
        display: $menuUlDisplay;
        height: $menuUlHeight;
        margin: $menuUlMargin;
        max-height: $menuUlMaxHeight;
        max-width: $menuUlMaxWidth;
        min-height: $menuUlMinHeight;
        min-width: $menuUlMinWidth;
        padding: $menuUlPadding;
        text-align: $menuUlTextAlign;
        vertical-align: $menuUlVertAlign;
        width: $menuUlWidth;

        li {
            background: $menuLiBackground;
            border: $menuLiBorder;
            display: $menuLiDisplay;
            height: $menuLiHeight;
            margin: $menuLiMargin;
            max-height: $menuLiMaxHeight;
            max-width: $menuLiMaxWidth;
            min-height: $menuLiMinHeight;
            min-width: $menuLiMinWidth;
            padding: $menuLiPadding;
            text-align: $menuLiTextAlign;
            vertical-align: $menuLiVertAlign;
            width: $menuLiWidth;

            a {
                background: $menuLinkBackground;
                border: $menuLinkBorder;
                color: $menuLinkColor;
                display: $menuLinkDisplay;
                font-family: $menuLinkFontFamily;
                font-size: $menuLinkFontSize;
                font-weight: $menuLinkFontWeight;
                height: $menuLinkHeight;
                letter-spacing: $menuLinkLetterSpace;
                line-height: $menuLinkLineHeight;
                margin: $menuLinkMargin;
                max-height: $menuLinkMaxHeight;
                max-width: $menuLinkMaxWidth;
                min-height: $menuLinkMinHeight;
                min-width: $menuLinkMinWidth;
                padding: $menuLinkPadding;
                position: $menuLinkPosition;
                text-align: $menuLinkTextAlign;
                text-decoration: $menuLinkTextDecoration;
                text-transform: $menuLinkTextTransform;
                vertical-align: $menuLinkVertAlign;
                width: $menuLinkWidth;

                &:hover, &:active, &:focus {
                    background: $menuLinkEffectBg;
                    border: $menuLinkEffectBorder;
                    color: $menuLinkEffectColor;
                    text-decoration: $menuLinkEffectTextDec;
                    
                    &:after {
                        background: $menuAfterEffectBackground;
                        bottom: $menuAfterEffectBottom;
                        height: $menuAfterEffectHeight;
                        left: $menuAfterEffectLeft;
                        right: $menuAfterEffectRight;
                        top: $menuAfterEffectTop;
                        transform: $menuAfterEffectTransform;
                        width: $menuAfterEffectWidth;
                    }

                    &:before {
                        background: $menuBeforeEffectBackground;
                        bottom: $menuBeforeEffectBottom;
                        height: $menuBeforeEffectHeight;
                        left: $menuBeforeEffectLeft;
                        right: $menuBeforeEffectRight;
                        top: $menuBeforeEffectTop;
                        transform: $menuBeforeEffectTransform;
                        width: $menuBeforeEffectWidth;
                    }
                }

                &:after, &:before {
                    @include transit(0.3s);
                }

                &:after {
                    background: $menuLinkAfterBackground;
                    bottom: $menuLinkAfterBottom;
                    content: $menuLinkAfterContent;
                    height: $menuLinkAfterHeight;
                    left: $menuLinkAfterLeft;
                    max-height: $menuLinkAfterMaxHeight;
                    max-width: $menuLinkAfterMaxWidth;
                    min-height: $menuLinkAfterMinHeight;
                    min-width: $menuLinkAfterMinWidth;
                    position: $menuLinkAfterPosition;
                    right: $menuLinkAfterRight;
                    top: $menuLinkAfterTop;
                    transform: $menuLinkAfterTransform;
                    width: $menuLinkAfterWidth;
                    z-index: $menuLinkAfterZIndex;
                }

                &:before {
                    background: $menuLinkBeforeBackground;
                    bottom: $menuLinkBeforeBottom;
                    content: $menuLinkBeforeContent;
                    height: $menuLinkBeforeHeight;
                    left: $menuLinkBeforeLeft;
                    max-height: $menuLinkBeforeMaxHeight;
                    max-width: $menuLinkBeforeMaxWidth;
                    min-height: $menuLinkBeforeMinHeight;
                    min-width: $menuLinkBeforeMinWidth;
                    position: $menuLinkBeforePosition;
                    right: $menuLinkBeforeRight;
                    top: $menuLinkBeforeTop;
                    transform: $menuLinkBeforeTransform;
                    width: $menuLinkBeforeWidth;
                    z-index: $menuLinkBeforeZIndex;
                }
            }

            &.active {
                a {
                    background: $menuLinkEffectBg;
                    border: $menuLinkEffectBorder;
                    color: $menuLinkEffectColor;
                    text-decoration: $menuLinkEffectTextDec;

                    &:after {
                        background: $menuAfterEffectBackground;
                        bottom: $menuAfterEffectBottom;
                        height: $menuAfterEffectHeight;
                        left: $menuAfterEffectLeft;
                        right: $menuAfterEffectRight;
                        top: $menuAfterEffectTop;
                        transform: $menuAfterEffectTransform;
                        width: $menuAfterEffectWidth;
                    }

                    &:before {
                        background: $menuBeforeEffectBackground;
                        bottom: $menuBeforeEffectBottom;
                        height: $menuBeforeEffectHeight;
                        left: $menuBeforeEffectLeft;
                        right: $menuBeforeEffectRight;
                        top: $menuBeforeEffectTop;
                        transform: $menuBeforeEffectTransform;
                        width: $menuBeforeEffectWidth;
                    }
                }
            }
        }
    }
}