/* --- MIXIN DE TRANSITION --- */
@mixin transit($time){
    -webkit-transition: $time ease;
    -moz-transition: $time ease;
    -o-transition: $time ease;
    transition: $time ease;
}

/* --- FORM PLACEHOLDER MIXIN --- */
@mixin placeholder{
	&::-webkit-input-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
}

/* --- FLEXCOLUMNS --- */
%flexcolumns{
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    [class^="col-"]{
        float:none;
        display: flex;
    }
}

/* --- ABSOLUTE CENTER --- */
%abscenter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}